<% include partials/header.ejs %>

<div class="content">
    <div class="content_bg">
        <div class="mainbar">
            <h2 style="text-align: center;"> All Books</h2>
            <div class="article" style="background-color: white;">
                <% books.forEach(function(item){ %>
                    <a style="position:relative; " href="/book-details/<%= item.id %>">
                        <img class='bookimg' src="/assets/images/upload_images/<%=item.book_img%>" width="173" height="193" alt="" />
                        <span style="position: absolute; left:50px; bottom:-10px;"><%=item.book_name%></span>
                    </a>
                    
                <% }) %>
                

            </div>
            <div class="pagenavi"><span class="pages">Page 1 of 2</span><span class="current">1</span><a
                    href="#">2</a><a href="#">&raquo;</a></div>
        </div>
        <div class="sidebar">
            <div class="gadget">
                <h2 class="star"><span>Wise Words</span></h2>
                <div class="clr"></div>
                <div class="testi">
                    <p><span class="q"><img src="assets/images/qoute_1.gif" width="20" height="15" alt="" /></span> We can let
                        circumstances rule us, or we can take charge and rule our lives from within. <span
                            class="q"><img src="assets/images/qoute_2.gif" width="20" height="15" alt="" /></span></p>
                    <p class="title"><strong>Earl Nightingale</strong></p>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>
</div>

<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

<% include partials/footer.ejs %>